.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.MuiBox-root {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
